@page "/employmentreport"
<PageTitle>Report</PageTitle>
@rendermode InteractiveServer
@using OOPsReview;

<h3>Employment Report</h3>
<br/><br/>
@if (feedback.Length > 0)
{
    <div class="alert alert-info">
        <p>@feedback</p>
    </div>
}
@if (errormsgs.Count > 0)
{
    <div class="alert alert-danger">
        <p>Please fix the following issues:</p>
        <ul>
            @foreach (var error in errormsgs)
            {
                <!--
                    due to the structure of a Dictionary entry
                    there are two components: Key and Value
                    we need to use the Value

                    if this was a List collection there is only
                    one component, the string
                    therefore you would NOT need the .Value
                -->
                <li>@error</li>
            }
        </ul>
    </div>
}

@if (employments.Count == 0)
{
    <p>There are currently no employment records on file.</p>
}
else
{
    // records on file
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Level</th>
                <th>Start Date</th>
                <th>Years</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Employment empRow in employments)
            {
                <tr>
                    <td>@empRow.Title</td>
                    <td>@empRow.Level</td>
                    <td>@empRow.StartDate.ToShortDateString()</td>
                    <td>@empRow.Years</td>
                </tr>
            }
        </tbody>
        
    </table>
}

@code {
  
}
